<div class = 'container pt-5'>
  <div class="row justify-content-center">
    <div class="col-12 col-md-6 col-lg-4">
      <h2 class="text-center mb-5">Créez votre compte 🖋️</h2>

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: false }) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
        <%= f.input :first_name, required: true, autofocus: true, input_html: { autocomplete: "first_name" }, placeholder: "Prénom" %>
        <%= f.input :last_name, required: true, autofocus: true, input_html: { autocomplete: "last_name" }, placeholder: "Nom" %>
          <%= f.input :email, required: true, autofocus: true, input_html: { autocomplete: "email" }, placeholder: "ex : freezecorleone@667.ekip" %>
          <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length), input_html: { autocomplete: "new-password" } %>
          <%= f.input :password_confirmation, required: true, input_html: { autocomplete: "new-password" } %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Créer un compte", class: "btn btn-outline-primary col-12 mt-3 mb-5" %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
