<% @bookings.each do |booking| %>
  <%= link_to booking_path(booking) do %>
    <div class="card mb-3">
      <div class="card-header">
        <%= booking.car.brand %> - <%= booking.car.modele %> (<%= booking.car.year.strftime("%Y") %>)
      </div>
      <div class="card-body">
      <p class="card-text text-center">Propriétaire : <%= booking.car.user.first_name %> <%= booking.car.user.last_name %></p>
      <p class="card-text text-center">Locataire : <%= booking.user.first_name %> <%= booking.user.last_name %></p>
      </div>
    </div>
  <% end %>
<% end %>
