<div class="background">

  <div class="recherche mt-3">
    <%= form_with url: cars_path, method: :get, class: "d-flex col-12 col-md-6 col-lg-6",  :html => { style: "margin-left:345px;"} do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control border-5 rounded-pill",
      placeholder: "Trouvez votre Youngtimer"
    %>
    <%= submit_tag "ðŸ›£ï¸", class: "btn btn-outline-primary rounded-pill fs-4" %>
    <% end %>
  </div>

  <div class="card-deck">
    <div class="card-body">
      <% @cars.each do |car| %>
        <%= link_to car_path(car) do %>
          <div class="card-product">
            <%= cl_image_tag car.photo.key, height: 300, width: 400, crop: :fill %>
            <div class="card-product-infos">
              <h5 class="card-title">
                <%= car.brand %> - <%= car.modele %> (<%= car.year.strftime("%Y") %>)
              </h5>
              <p class="card-text">
                <%= car.description %>
              </p>
              <p>
                <%= car.price %>â‚¬ / Jour
              </p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
